* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
}

header {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

.add-box {
    border: 2px solid black; 
    padding: 10%;
    border-radius: 40px;
}

.each-task {
    border: 2px solid black;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    width: 50%;
}

input {
    width: 100%;
    border-radius: 10px;

}

#today {
    font-weight: bold;
}

.buttons {
    padding-top: 35px; 
}

.add-btn, .reset-btn {
    background-color: #007bff;
    border-radius: 7px;
    font-size: 16px;
    color: white;
    padding: 5px 5px;
    margin: 5px;

}
